<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="lg:text-center">
    <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
      Don't re-invent the wheel. Use a service framework.
    </p>
    <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
      hyper63 allows your development team to focus on the logic that makes your application
      special, not the necessary cloud service boiler plate.
    </p>
  </div>
  <div class="mt-10">
    <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
      <div class="flex">
        <div class="flex-shrink-0">
          <div class="flex items-center justify-center h-12 w-12 rounded-md bg-yellow-500 text-white">
            <!-- Heroicon name: database -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4" />
            </svg>

          </div>
        </div>
        <div class="ml-4">
          <dt class="text-lg leading-6 font-medium text-gray-900">
            DATA Port
          </dt>
          <dd class="mt-2 text-base text-gray-500">
            The Data Port gives developers a robust REST API to store and retrieve structured data.
            No need to spend time setting up your databases and cloud services. Simply pick your adapter, and go.
          </dd>
        </div>
      </div>

      <div class="flex">
        <div class="flex-shrink-0">
          <div class="flex items-center justify-center h-12 w-12 rounded-md bg-yellow-500 text-white">
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" />
            </svg>
          </div>
        </div>
        <div class="ml-4">
          <dt class="text-lg leading-6 font-medium text-gray-900">
            CACHE Port 
          </dt>
          <dd class="mt-2 text-base text-gray-500">
            In order to scale applications, you need to be able to store redundant data in a cache.
            This architecture can be a challenge to setup and manage. With hyper63, it is an API call to store and fetch cached data, fast. 
          </dd>
        </div>
      </div>

      <div class="flex">
        <div class="flex-shrink-0">
          <div class="flex items-center justify-center h-12 w-12 rounded-md bg-yellow-500 text-white">
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4" />
            </svg>
          </div>
        </div>
        <div class="ml-4">
          <dt class="text-lg leading-6 font-medium text-gray-900">
            STORAGE Port 
          </dt>
          <dd class="mt-2 text-base text-gray-500">
            In addition to structured data, applications need unstructured data, such as images and documents.
            Why have a different API or different service? Leverage hyper63 to give your team a consistent and robust api to manage
            unstructured data with the same client driver as other primitives.
          </dd>
        </div>
      </div>

      <div class="flex">
        <div class="flex-shrink-0">
          <div class="flex items-center justify-center h-12 w-12 rounded-md bg-yellow-500 text-white">
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 16l2.879-2.879m0 0a3 3 0 104.243-4.242 3 3 0 00-4.243 4.242zM21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </div>
        </div>
        <div class="ml-4">
          <dt class="text-lg leading-6 font-medium text-gray-900">
            SEARCH Port 
          </dt>
          <dd class="mt-2 text-base text-gray-500">
            Searching is a requirement for every application.
            Using hyper63's api, you can create fast and flexible search features without having to setup or manage search services.
          </dd>
        </div>
      </div>
    </dl>
  </div>
</div>
