---
layout: base.ejs
title: About hyper63, LLC
description: hyper63, LLC is a company focused on creating products and services that improve the development experience.
card: /img/hyper63-card.png
---

<div class="py-16 bg-gray-50 overflow-hidden">
  <div class="max-w-7xl mx-auto px-4 space-y-8 sm:px-6 lg:px-8">
    <div class="text-base max-w-prose mx-auto lg:max-w-none">
      <h2 class="text-base text-yellow-600 font-semibold tracking-wide uppercase">hyper63</h2>
      <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">What makes us different</p>
    </div>
    <div class="relative z-10 text-base max-w-prose mx-auto lg:max-w-5xl lg:mx-0 lg:pr-72">
      <p class="text-lg text-gray-500">
        hyper63, LLC is a company focused on building products and services for developers and improving the development experience. 
        As a result, development teams are able to grow into high performing teams, and create incredible products.
      </p>
    </div>
    <div class="lg:grid lg:grid-cols-2 lg:gap-8 lg:items-start">
      <div class="relative z-10">
        <div class="prose prose-yellow text-gray-500 mx-auto lg:max-w-none">
          <p>Our story</p>
          <h3>The problem</h3>
          <p>
            Software is eating the world, but one can argue that software can cause just as many problems as it is meant to solve.
            Building software is more than building a product and then selling it. It is a constant, fluid, process of discovery and refinement,
            a process that necessitates nurture and focus. Unfortunately, often times, the result leads to disappointment.
            As a software development community, can we do better? Can we create products that
            are a joy, to not only build, but to <i>maintain</i>, over time? Products that can migrate to new technologies
            and platforms, incrementally?
          </p>
          <p>To that end, all software applications should be built with the following requirements: </p>
          <ul>
            <li>Scalability</li>
            <li>Extensibility</li>
            <li>Flexibility</li>
          </ul>
          <p></p>
          <h3>We’re here to help</h3>
          <p>
            We are building a new set of products and services that have the potential to transform the software
            community. These products and services provide development teams the guidance and capabilities to, 
            not only, highly perform when building software, but to future proof their products, and create
            constant and consistent value over time.
          </p>
        </div>
        <div class="mt-10 flex text-base max-w-prose mx-auto lg:max-w-none">
          <div class="rounded-md shadow">
            <a href="mailto:sales@hyper63.com" class="w-full flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-yellow-600 hover:bg-indigo-700">
              Contact us
            </a>
          </div>
        </div>
      </div>
      <div class="mt-12 relative text-base max-w-prose mx-auto lg:mt-0 lg:max-w-none">
        
        <blockquote class="relative bg-white rounded-lg shadow-lg">
          <div class="rounded-t-lg px-6 py-8 sm:px-10 sm:pt-10 sm:pb-8">
            <img src="/img/hyper63-logo.png" alt="hyper63" class="h-8">
            <div class="relative text-lg text-gray-700 font-medium mt-8">
              <svg class="absolute top-0 left-0 transform -translate-x-3 -translate-y-2 h-8 w-8 text-gray-200" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
                <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
              </svg>
              <p class="relative">
                Software development is the constant embracement of change as you discover and refine 
                applications to improve the workflow and effectivness of users. Software should empower
                users to get their stuff done leveraging technology, not being driven by technology.
              </p>
            </div>
          </div>
          <cite class="relative flex items-center sm:items-start bg-yellow-600 rounded-b-lg not-italic py-5 px-6 sm:py-5 sm:pl-12 sm:pr-10 sm:mt-10">
            <div class="relative rounded-full border-2 border-white sm:absolute sm:top-0 sm:transform sm:-translate-y-1/2">
              <img class="w-12 h-12 sm:w-20 sm:h-20 rounded-full bg-yellow-300" src="/img/twilson63.jpeg" alt="">
            </div>
            <span class="relative ml-4 text-yellow-300 font-semibold leading-6 sm:ml-24 sm:pl-1">
              <p class="text-white font-semibold sm:inline">Tom Wilson</p>
              <p class="sm:inline">CEO at hyper63</p>
            </span>
          </cite>
        </blockquote>
      </div>
    </div>
  </div>
</div>

