---
layout: base.ejs
title: hyper63 - faq
description: frequently asked questions for hyper63
card: /img/hyper63-card.png
---
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:py-20 lg:px-8">
    <div class="lg:grid lg:grid-cols-3 lg:gap-8">
      <div>
        <h2 class="text-3xl font-extrabold text-gray-900">
          Frequently asked questions
        </h2>
        <p class="mt-4 text-lg text-gray-500">Can’t find the answer you’re looking for? Reach out to our <a href="mailto:support@hyper63.com" class="font-medium text-yellow-600 hover:text-yellow-500">customer support</a> team.</p>
      </div>
      <div class="mt-12 lg:mt-0 lg:col-span-2">
        <dl class="space-y-12">
          <div>
            <dt class="text-lg leading-6 font-medium text-gray-900">
              What is hyper63?
            </dt>
            <dd class="mt-2 text-base text-gray-500">
              hyper63 is an open-source service framework that provides a common service boundary between an applications business logic and its service implementation details.
            </dd>
          </div>

          <div>
            <dt class="text-lg leading-6 font-medium text-gray-900">
              When should I use hyper63?
            </dt>
            <dd class="mt-2 text-base text-gray-500">
              <h5 class="mt-2 mb-2 font-medium">hyper63 works great for greenfield, prototypes and migration applications</h5>
              <ul class="list-disc">
                <li>
                  <span class="font-medium">GREENFIELD:</span> hyper63 can give the team a boost in productivity 
                  while encouraging separation between core business logic and service implementation details.
                </li>
                <li>
                  <span class="font-medium">PROTOTYPES:</span> with one command you can start a hyper63 development service and be up and coding.
                </li>
                <li>
                  <span class="font-medium">MIGRATIONS:</span> migrate a legacy application to a more scalable architecture and extendible architecture.
                </li>
              </ul>
            </dd>
          </div>

        </dl>
      </div>
    </div>
  </div>
</div>

