---
layout: base.ejs
title: hyper63 features
description: hyper63 features and benefits
card: /img/hyper63-card.png
---
<div class="bg-white">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:py-24 lg:px-8 lg:grid lg:grid-cols-3 lg:gap-x-8">
    <div>
      <h2 class="text-base font-semibold text-yellow-600 uppercase tracking-wide">Everything you need</h2>
      <p class="mt-2 text-3xl font-extrabold text-gray-900">All-in-one platform</p>
      <p class="mt-4 text-lg text-gray-500">hyper63 contains all of the service primitives to build applications without having to deal with servers, services, or clouds.</p>
    </div>
    <div class="mt-12 lg:mt-0 lg:col-span-2">
      <dl class="space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:grid-rows-3 sm:grid-flow-col sm:gap-x-6 sm:gap-y-10 lg:gap-x-8">
        <div class="flex">
          <!-- Heroicon name: check -->
          <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <div class="ml-3">
            <dt class="text-lg leading-6 font-medium text-gray-900">
              REST/JSON API 
            </dt>
            <dd class="mt-2 text-base text-gray-500">
              All services are accessible via a REST/JSON api, which means universal language and tool support.
              This gives your development team the freedom to choose the tools to build their application without dealing with breaking service dependencies.
            </dd>
          </div>
        </div>

        <div class="flex">
          <!-- Heroicon name: check -->
          <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <div class="ml-3">
            <dt class="text-lg leading-6 font-medium text-gray-900">
              Open-Source 
            </dt>
            <dd class="mt-2 text-base text-gray-500">
              hyper63 is an open-source service which means you have full access to the source code. It is clear what the system is doing and how it is doing it.
            </dd>
          </div>
        </div>

        <div class="flex">
          <!-- Heroicon name: check -->
          <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <div class="ml-3">
            <dt class="text-lg leading-6 font-medium text-gray-900">
              Composability 
            </dt>
            <dd class="mt-2 text-base text-gray-500">
              hyper63 is a service framework that brings common, primitive, services to your application.
              Having a consistent set of service primitives gives your team the power to compose these primitives into robust higher level services
              that can result in high quality application performance. 
            </dd>
          </div>
        </div>

        <div class="flex">
          <!-- Heroicon name: check -->
          <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <div class="ml-3">
            <dt class="text-lg leading-6 font-medium text-gray-900">
              Observability 
            </dt>
            <dd class="mt-2 text-base text-gray-500">
              hyper63 provides a strong boundary between your business logic and its services, but that does not mean it is a black box.
              Using the hyper63 hooks port, your team can observe and monitor every transaction that hyper63 performs.
            </dd>
          </div>
        </div>

        <div class="flex">
          <!-- Heroicon name: check -->
          <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <div class="ml-3">
            <dt class="text-lg leading-6 font-medium text-gray-900">
              Extensibility 
            </dt>
            <dd class="mt-2 text-base text-gray-500">
              Want hyper63 to do more, provide more services or use different managed 
              products? hyper63 is modular by default which means you can exchange the client, the interface, and the ports and adapters of the service framework.
              This gives you a future-proof approach to application development.
            </dd>
          </div>
        </div>

      </dl>
    </div>
  </div>
</div>
