---
layout: base.ejs
title: hyper63 software as a service
description: Let hyper63, LLC provide you a managed service framework as a service. Your team can just focus on building the business value, and let the hyper63 team deal with services, servers, and clouds
card: /img/hyper63-card.png
cnt: 
  In today's cloud there are so many choices to be made when building an application, 
  sometimes it can lead to excessive and unnecessary churn. The hyper63 service framework was 
  built to make the known needs a trivial decision, so your development team can focus 
  on the application development that addresses the user's needs. As your product grows, 
  you may need to change/manage cloud services, hyper63 provides you a path to do so 
  without having to modify your application code. This modular design not only gives 
  your development team a future proof design, but empowers your team to make changes 
  quickly without having to touch the backend service layers of their application. 
  While the open-source version is easy to use, the team still has to make decisions 
  about where to host and who will manage the dependencies and other details. With 
  the hyper63 saas, your team is free to focus on your product's needs.
---

<div class="relative px-4 sm:px-6 lg:px-8">
  <div class="text-lg max-w-prose mx-auto">
    <h1 class="mt-5">
      <span class="block text-base text-center text-yellow-600 font-semibold tracking-wide uppercase">hyper63 SaaS Service</span>
      <span class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">Let us manage your hyper63 services for you.</span>
    </h1>
  </div>
  
  <div class="mt-6 text-lg max-w-prose text-gray-500 mx-auto">

  <p><%= cnt %></p>

  </div>
</div>
